#app {

}

.site-header {
  height: 25px;
  background-color: rgb(34, 34, 34);
}
.site-header a {
  color: white;
}
.site-header a:hover {
  text-decoration: underline;
}
.lesson {
  width: 100%;
  height: calc(100vh - 25px);
  background: black;
}