.home {
  width: 100%;
  height: calc(100vh - 25px);
  background: white;
}
.pageList {
  padding: 20px;
  border: 5px solid black;
  border-radius: 6px;
}
.pageList li {
  position: relative;
  padding-left: 20px;
}
.pageList li + li {
  margin-top: 10px;
}
.pageList a {
  border-bottom: 2px dashed black;
}
.pageList a:hover {
  border-bottom: 2px solid cornflowerblue;
}
.pageList ::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 2px;
  top: 8px;
  left: 0;
  background: black;
}